/* Com isso não sobrecarrega de links css no arquivo HTML e torna o carregamento dos estilos mais rápido, pois quando carregar o style.css irá carregar tudo que ela importou junto  */
@import url(styles/header.css);


:root {
    --cor-de-fundo: #EBECEE; 
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}


