.banner {
    width: 88vw;
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1.5em;
}

.banner__texto {
    margin: 1em 0;
}

.banner__pesquisa {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    height: 44px;   
    padding: 0.5em;
    border: 1px solid var(--branco);
    border-radius: 24px;
}

.banner__pesquisa::placeholder {
    color: var(--branco);
}