.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url('../assets/Menu.svg');

    /* para que fosse possível definir os valores de width e height */
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*  para que .lista-menu pudesse utilizar o position: absolute */
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
    
}

.container__imagem2 {
    padding: 8px;
}

.lista-menu {
    display: none;
    position: absolute;
    width: 60vw;

    /* o cabeçalho ficará acima da lista */
    top: 100%;
}

/* Detecta se o checkbox foi clicado */
/* ~ === combinador css, vai procurar outro elemento depois dele que tenha a classe lista-menu e vai colocar display block nele*/
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

/* Para tablet */
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .container__titulo {
        /* Para o título voltar a aparecer, pois estava em display: none (linha 73-74) */
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;

    }

    .opcoes {
        /* torna a classe opcoes visível já que foi display none fora do media querie */
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem2-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
    

}